li{
    color: blue;
    font-weight: 600;
    text-decoration: underline;
    list-style-type: none;
}

.sectionCard{
    background-color: aquamarine;
    margin-bottom: 5px;
    border-radius: 15px;
    border: 5px solid salmon;
    padding: 10px;
}

